@media screen and (max-width: 576px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .text-back {
    font-size: 10rem;
    left: 20px;
    bottom: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .text-back {
    font: 12rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}

/* XXL devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
}
