@media screen and (max-width: 576px) {
  .hero {
    height: 50vh;
    font-size: 1.7rem;
  }

  .text-back {
    font-size: 5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .hero {
    height: 40vh;
    font-size: 1.7rem;
  }

  .text-back {
    font-size: 8rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .hero {
    height: auto;
    font-size: 1.75rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}

/* XXL devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
}
