body {
  background-image: linear-gradient(#f5f5f5fa, #f5f5f5fa), url(./img/bg.jpg);
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: "SF Pro Display", sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
}

/* Navbar - Icon */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.btn-close,
.btn-close:active {
  box-shadow: none; /* Removes the default focus shadow */
  border: none; /* Removes the border if any */
}

body::-webkit-scrollbar {
  display: none;
}

.main-box {
  backdrop-filter: blur(10px);
}

.project-box {
  background-color: #e6e6e6;
}

.bg-dark {
  background-color: rgb(20, 20, 20);
}

/* Section About */

.text-back {
  color: rgba(125, 125, 125, 0.1);
  font-weight: 600;
  line-height: 80%;
  left: 0;
  bottom: 0;
}
